body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu_bar{
     width : 100%;
     line-height: 60px;
     background:linear-gradient(to bottom,gray 30%,lightgray 80%);
     
     font-size: 24px;
      font-family: 'Nunito', sans-serif;  
     
     font-weight:bolder;
     display: flex;
     justify-content: space-around;
}
.active_class{
        color:green;
        text-shadow: 5px 5px 10px green;
      }
    
.login_form{
     text-align: center;
     font-size: 30px;
     width : 325px;
     padding-top: 10px;
     height: 350px;
     border: 0px solid red;
     margin-left:10%;
     margin-top: -40%;
     border-radius: 15%;
     
}
  .login_form input{
    width:315px;
    margin-top: 25px;
    height: 50px;
    display: inline-block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:outset;
    /* text-decoration: underline; */
    font-size: 25px;
    text-align: center;
    background:transparent; 
  }
.login_form button {
  background: linear-gradient(45deg, lightgray 10%, orange 90% );
  width : 150px;
  font-size: 20px;
}
.forget_pass_box{
      width:350px;
      border: 1px solid red;
      text-align: center;
      height: 300px;
      margin-left:10%;
      margin-top: -25%;
}
.forget_pass_box input{
  font-size: none;
  margin-top: 15px;
  margin-bottom: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:solid;
  border-bottom-color: lightsalmon;
  text-align: center;
  width:200px;
  background-color: transparent;
  /* text-decoration-line: underline;
  text-decoration-color: red; */
}
.forget_password{
  background-color: blue;
  color: red;
  width:100%;
  height: 500px;
  border :0px solid red;
}

 .otp_enter{
   border : 0px solid red;
   width: 220px;
   margin-top: 8%;
   margin-left: 40%;
   
 }
.otp_enter input{
  width:50px;
  text-align: center;
  margin-top: 5px;
  margin-bottom :40px;
  /* margin-top:18%; */
}
  .otp_enter button{
    text-align: center;
    margin-left:25%;
    border-radius: 40%;
    margin-bottom: 15px;
    font-size: large;
    width: 100px;

  }
  
  .singIn_page{

    float :right;
    margin-right: 50px;
    border:0px red solid;
    width : 500px;
    height: 450px;
    padding: 20px 65px;
  }
  .singIn_page input{
     margin-bottom: 15px;
     margin-right: 0;
     border-top: none;
     border-right: none;
     border-left: none;
     border-bottom:solid;
     border-bottom-color: lightskyblue;  
  }
  .about1{
    padding-left: 15px;
  }
  .footer{
   position: fixed;
    margin-top: 95px;
    text-align: center;
    margin-left: 40%;
  }
  

  .Chat_head{

    position: fixed;
    background-color: lightblue;
    width:50%;
    height: 50px;
    margin-left: 23%;
    text-align: center;
    margin-bottom: 50px;
  }
   .chat_show{
     display: inline-flex;
     border:1px solid red;
     border-radius: 5px;;
     min-width:fit-content;
     padding: 0px 8px;
     min-height: fit-content;
     font-size:17px;
     
     background-color: lightcoral;
     text-align: right;
     margin-top: 10px;
     margin-left: 50%;
     float:right;
    text-align: right; 
    
    }

  
    .chat_box input {
      position:fixed;
      margin-left: 24%;
      width:45%;
          margin-top: 0%;
          border-top: none;
          border-right: none;
          border-left: none;
          border-bottom:solid;
          text-align: center;


    }

    .chat_box button{

      position: fixed;
      margin-left: 66%;
      margin-top: 0%;
       
    }
    .chat_area{
      border:0 solid red;
      width:600px;
      height:450px;
      margin-left: 50%;
      overflow-y: auto;
      margin-top: 30px;
    }

    .addContact{
     text-align: center;
      margin-top: 10%;
      margin-left: 30%;
      border:0px solid red;
      width: 400px;
      height: 250px;
    }
    .addContact button{
      border-radius: 10%;
      margin-top: 5px;
    }
    .buttonAdd button{
      background-color: royalblue;
      position: fixed;
      margin-left:10%;
      margin-top: 34%;
      border-radius: 50%;
    }
    .contList{
      text-align: left;
      border:1px inset red;
      width: 350px;
      margin-top: 0px;
      margin-left: 5px;
     height: 500px; 
      overflow-y:auto;
      float: left;
    }
    .detailsCon{
     border:0px solid red;
      border-radius: 5px;;
      padding: 0px 8px;
      min-height: fit-content;
      font-size:17px;
      margin-top: 0px;
      background-color:rgba(105, 150, 90, 0.5);
    }
    .delebtn{
      margin-left:50px;
      color:red;
      float:right;
    }
    .delebtn button{
      margin-top: -130%;
      color:lightseagreen;
    }